body{
   background-color:#0A0A2A #013ADF #0431B4 ;
}
.form-center{
    width: 500px;
}
.navbar{
    background-color:cornflowerblue;
}

.arredondar-img{
    border-radius: 50px;
    height: 290px;
}

.margin{
    margin-top: 50px;
    padding-bottom: 20px;
    color: #0B2161;
}

label{
    color: #0B2161;
}

a{
    text-decoration: none;
}
footer{
    padding-top: 350px;
}